{% extends "usercp.html" %}
{% block content %}
{% include "header.html" %}

  <form>
  <h1>Edit Item</h1><br>
   id:<input type="text" id="number"><br>
   name:<input type="text" id="name"><br>
   category:<input type="text" id="category"><br>
   description:<input type="text" id="description"><br>
   <input type="hidden" id="state" value="{{STATE}}">
   <span id="update">
    <input type="button" value="update">
    </span>
   <span id="delete">
    <input type="button" value="delete item">
    </span>

  </form>
<script>

var statep = $("#state").val();

$("#delete").click(
    function() {
      console.log( "Handler for delete.click() called." );
      let myUrl = '/item/' + $("#number").val() + '/modify?state=' + $("#state").val();
      $.ajax({
        type: 'DELETE',
        url: myUrl,
        success: function(result){
          if (result) {
            console.log("successfully deleted");
            var nextUrl = ""
            setTimeout(function() {
              if (statep.length){
                nextUrl = "/api/items?state=" + statep
              } else {
                nextUrl = "/api/items"
              }
              window.location.href = nextUrl;
            }, 4000);
          }
        }
      });
    }
  );



$("#update").click(
    function() {
      console.log( "Handler for update.click() called." );
      var fields = {
            name: $("#name").val(),
            number: $("#number").val(),
            category: $("#category").val(),
            description: $("#description").val()
          }
      console.log(fields);
      let myUrl = '/item/' + $("#number").val() + '/modify?state=' + $("#state").val();
      $.ajax({
        type: 'PUT',
        url: myUrl,
        data: fields,
        success: function(data) {
            console.log("successfully updated");
            var nextUrl = ""
            console.log("dataV")
            console.log(data)
            setTimeout(function() {
              if (statep.length){
                nextUrl = "/single_item?state=" + statep + "&id=" + fields.number;
              } else {
                nextUrl = "/single_item?id=" + fields.number;
              }
              window.location.href = nextUrl;
            }, 4000);

        }
      });
    }
  );

</script>
{% endblock %}
